*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.input-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    #date-input {
        outline: none;
        color: #3E92CC;
        border: none;
        height: 5vh;
        width: 15vw;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        // -webkit-box-shadow:  0px 10px 13px -7px #504f4fb2;
        // box-shadow: 0px 10px 13px -7px #504f4fb2;
    }

    #btn {
        font-size: 20px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #fffaff;
        // -webkit-box-shadow:  0px 10px 13px -7px #504f4fb2;
        // box-shadow: 0px 10px 13px -7px #504f4fb2;
        color: #0A2463;
        font-weight: bold;

        &:hover{
            cursor: pointer;
            background-color: #fff;
            -webkit-box-shadow: 0px 10px 13px -7px #0000007c, 5px 5px 11px 5px rgba(0,0,0,0.06); 
            box-shadow: 0px 10px 13px -7px #0000007c, 5px 5px 11px 5px rgba(0,0,0,0.06);
        }

        &:active, &:focus {
            color: #3E92CC;
            outline: none;
        }
    }
}

.container {
    height: 36.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-svg {
    height: 20%;
}

.year-container,
.month-container,
.day-container,
.hour-container,
.minute-container,
.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 2vw;
}

.count-text {
    font-size: 2.8rem;
    font-weight: bold;
    color: #3E92CC;
}

.typeText {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0A2463;
}

